/* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
.header-area .main-header-area .logo-img {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    /* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .logo-img {
      text-align: left;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .logo-img {
      text-align: left;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 31, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .logo-img {
      text-align: left;
    }
  }
  
  @media (max-width: 767px) {
    /* line 45, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .logo-img img {
      width: 70px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 45, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .logo-img img {
      width: 70px;
    }
  }
  
  /* line 57, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end;
  }
  
  /* line 63, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .socail_links ul li {
    display: inline-block;
  }
  
  /* line 66, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .socail_links ul li a {
    color: #A8A7A0;
    margin: 0 10px;
    font-size: 15px;
  }
  
  /* line 70, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .socail_links ul li a:hover {
    color: #fff;
  }
  
  /* line 77, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn {
    margin-left: 30px;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 77, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .Appointment .book_btn {
      margin-left: 0;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 77, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .Appointment .book_btn {
      margin-left: 0;
    }
  }
  
  /* line 85, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn a {
    background: #009DFF;
    padding: 12px 26px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 85, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .Appointment .book_btn a {
      padding: 12px 20px;
    }
  }
  
  /* line 96, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .Appointment .book_btn a:hover {
    background: #fff;
    color: #009DFF;
    border: 1px solid #009DFF;
  }
  
  /* line 104, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu {
    text-align: center;
    padding: 12px 0;
  }
  
  /* line 108, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li {
    display: inline-block;
    position: relative;
    margin: 0 10px;
  }
  
  /* line 118, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    color: #727272;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    position: relative;
    text-transform: capitalize;
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 118, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .main-menu ul li a {
      font-size: 15px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 118, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .main-menu ul li a {
      font-size: 15px;
    }
  }
  
  /* line 137, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    font-size: 9px;
  }
  
  @media (max-width: 767px) {
    /* line 137, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .main-menu ul li a i {
      display: none !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 137, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area .main-menu ul li a i {
      display: none !important;
    }
  }
  
  /* line 146, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a::before {
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: scaleX(0);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* line 158, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a:hover::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 163, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a.active::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 168, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a:hover {
    color: #1F1F1F;
  }
  
  /* line 172, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li .submenu {
    position: absolute;
    left: 0;
    top: 160%;
    background: #fff;
    width: 200px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
    opacity: 0;
    visibility: hidden;
    text-align: left;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  
  /* line 184, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li .submenu li {
    display: block;
  }
  
  /* line 186, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li .submenu li a {
    padding: 10px 15px;
    position: inherit;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: block;
    color: #000;
  }
  
  /* line 192, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li .submenu li a::before {
    display: none;
  }
  
  /* line 196, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li .submenu li:hover a {
    color: #000;
  }
  
  /* line 201, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li:hover > .submenu {
    opacity: 1;
    visibility: visible;
    top: 150%;
  }
  
  /* line 206, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li:hover > a::before {
    opacity: 1;
    transform: scaleX(1);
  }
  
  /* line 210, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li:first-child a {
    padding-left: 0;
  }
  
  /* line 216, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.96);
  }
  
  @media (max-width: 767px) {
    /* line 216, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area.sticky {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 216, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area.sticky {
      padding: 10px 10px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 216, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area.sticky {
      padding: 10px 20px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1500px) {
    /* line 216, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
    .header-area .main-header-area.sticky {
      padding: 10px 20px;
    }
  }
  
  /* line 242, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky .main-menu {
    padding: 0;
  }


  .mobile_menu {
    position: absolute;
    right: 10px;
    width: 96%;
    z-index: 99;
}
.slicknav_menu .slicknav_menutxt {
    display: none;
}
.slicknav_menu {
    background: transparent;
    margin-top: 10px;
}
.slicknav_menu .slicknav_icon-bar {
    background-color: #000;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 30px;
    position: relative;
}
.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -35px;
    position: relative;
    z-index: 99;
}
/* .slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    -ms-transform: rotate(45deg) translate(1px, 7px);
        transform: rotate(45deg) translate(1px, 7px);
}
.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    -ms-transform: rotate(-45deg) translateY(-6px);
        transform: rotate(-45deg) translateY(-6px);
        position: relative;
        top: -1px;
} */
.slicknav_menu {
  margin: 0;
  padding: 0;
}
.slicknav_icon-bar {
    background: #000 !important;
}
.slicknav_nav {
    background: #fff;
    float: right;
    margin-top:0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #eee;
}

.slicknav_nav a:hover {
    background: #F79960 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
}

.slicknav_nav a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    text-transform: capitalize;
}

.slicknav_nav .slicknav_arrow {
    float: right;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover .slicknav_arrow {
    border-radius: 0;
    background-color: #F79960;
    background-color: transparent;
    color: #000;
}

.slicknav_btn {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    z-index: 99;
    border: none;
    border-radius: 3px;
  top: 5px;
  padding: 5px;
  right: 5px;
  margin-top: -5px;
  top: -36px;
}
.slicknav_menu .slicknav_icon {
    margin-right: 6px;
    margin-top: 3px;
    position: relative;
    right: 5px;
    top: -5px;
    padding-bottom: 3px;
}

.log_image{
  width: 175px;
}

.list_type{
  list-style-type: disc;
}

.core_image{
  height: 235px;;
}
.slick-initialized .slick-slide {
  padding: 0px 10px 0px 10px;
}


.slick-next:before, .slick-prev:before {
  color: #2e8555 !important;
}