/*================================================
Appointment Area CSS
=================================================*/
.appointment-area {
    position: relative;
    z-index: 1;
    background-image: url(../../../Assets/img/Doctor/appoinrment-1.jpg);
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .appointment-content {
    /* background-color: #ffffff; */
    padding: 50px;
    position: relative;
    z-index: 1;
    /* box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); */
    /* max-width: 700px;
    margin-left: auto;
    margin-right: 100px; */
  }
  .appointment-content::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #ffffff;
    width: 96%;
    opacity: 0.62;
    height: 50%;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
  }
  .appointment-content .sub-title {
    display: block;
    margin-bottom: 10px;
    color: #19ce67;
    font-size: 17px;
    font-family: "Rubik", sans-serif;
  }
  .appointment-content h2 {
    margin-bottom: 0;
    max-width: 520px;
    line-height: 1.3;
    font-size: 40px;
    font-weight: 600;
  }
  .appointment-content form {
    margin-top: 5px;
  }
  .appointment-content form .form-group {
    position: relative;
    padding-left: 55px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .appointment-content form .form-group .icon {
    position: absolute;
    left: 0;
    top: 0;
    color: #19ce67;
    font-size: 35px;
  }
  .appointment-content form .form-group label {
    display: block;
    text-transform: uppercase;
    color: #7d7d7d;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
  }
  .appointment-content form .form-group .form-control {
    border: none;
    height: auto;
    border-bottom: 1px solid #eeeeee;
    font-size: 17px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
  }
  .appointment-content form .form-group .form-control::-moz-placeholder {
    color: #121521;
  }
  .appointment-content form .form-group .form-control::placeholder {
    color: #121521;
  }
  .appointment-content form .form-group .form-control:focus {
    border-color: #19ce67;
    padding-left: 2px;
  }
  .appointment-content form .form-group .nice-select {
    background-color: transparent;
    color: #121521;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #eeeeee;
    height: unset;
    line-height: initial;
    padding: 0 35px 8px 0;
    font-size: 17px;
    font-weight: 600;
  }
  .appointment-content form .form-group .nice-select .list {
    background-color: #ffffff;
    box-shadow: 0 0 29px 0 rgba(102, 102, 102, 0.1);
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    height: 260px;
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .appointment-content form .form-group .nice-select .list .option {
    transition: 0.5s;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .appointment-content form .form-group .nice-select .list .option:hover {
    background-color: #19ce67 !important;
    color: #ffffff;
  }
  .appointment-content form .form-group .nice-select .list .option.selected {
    background-color: transparent;
  }
  .appointment-content form .form-group .nice-select:after {
    right: 5px;
    border-color: #121521;
    height: 8px;
    width: 8px;
  }
  .appointment-content form .submit-btn {
    text-align: center;
    margin-top: 35px;
  }