/* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
.welcome_docmed_area {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  @media (max-width: 767px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area {
      padding-bottom: 100px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area {
      padding-bottom: 100px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 1, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area {
      padding-bottom: 100px;
    }
  }
  
  /* line 13, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_thumb {
    position: relative;
  }
  
  /* line 15, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_thumb .thumb_1 {
    left: 0;
  }
  
  /* line 17, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_thumb .thumb_1 img {
    width: 60%;
  }
  
  @media (max-width: 767px) {
    /* line 17, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_thumb .thumb_1 img {
      width: 100%;
    }
  }
  
  /* line 24, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_thumb .thumb_2 {
    position: absolute;
    bottom: -94px;
    right: -37px;
  }
  
  @media (max-width: 767px) {
    /* line 24, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_thumb .thumb_2 {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 24, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_thumb .thumb_2 {
      position: absolute;
      right: 0;
      bottom: -40px;
    }
  }
  
  /* line 39, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_thumb .thumb_2 img {
    width: 89%;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 39, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_thumb .thumb_2 img {
      width: 100%;
    }
  }
  
  /* line 47, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info {
    padding-left: 90px;
  }
  
  @media (max-width: 767px) {
    /* line 47, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_docmed_info {
      padding-left: 0;
      margin-top: 40px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 47, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_docmed_info {
      padding-left: 0;
      margin-top: 100px;
    }
  }
  
  /* line 57, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info h2 {
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    margin-bottom: 40px;
    position: relative;
    z-index: 9;
    padding-bottom: 9px;
  }
  
  /* line 65, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info h2:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: #5DB2FF;
  }
  
  /* line 76, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info h3 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 767px) {
    /* line 76, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_docmed_info h3 {
      font-size: 30px;
    }
  }
  
  @media (max-width: 767px) {
    /* line 83, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
    .welcome_docmed_area .welcome_docmed_info h3 br {
      display: none;
    }
  }
  
  /* line 89, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info p {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
  }
  
  /* line 94, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info ul {
    margin-bottom: 40px;
    margin-top: 25px;
  }
  
  /* line 97, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info ul li {
    color: #727272;
    font-size: 16px;
    line-height: 28px;
  }
  
  /* line 101, C:/Users/SPN Graphics/Desktop/CL September/210 Medical/HTML/scss/_about.scss */
  .welcome_docmed_area .welcome_docmed_info ul li i {
    margin-right: 10px;
    color: #5DB2FF;
    font-weight: 16px;
  }